<ion-header style="--background: #e7e7e7;">
  <div class="ionhead">
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button text=""  icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <h3 align="center"class="head">التسجيل </h3>
    </ion-toolbar>
    </div>
  </ion-header>
  
  <ion-content style="--background: #e7e7e7;">

    <div class="ioncontent">
      <div style="width: 100%;height: 100%; position:relative" *ngIf="wait">
        <div align="center" style="position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30%;">
      
      <h1 style="font-family: 'Cairo', sans-serif;" class="ion-no-margin">الرجاء الانتظار</h1>
      </div>
      </div>
      <div class="container " *ngIf="!wait">
        <div class="body"align="center">
  <img align="center"src="../../assets/icon/per1.png" width="100px"/>
    <ion-list lines="full">
     
      <ion-item >
        
        <ion-icon slot="end" name="at"></ion-icon>
        <ion-input id="p"type="email"   (ionChange)='checkemail()' placeholder="البريد الاكتروني " [(ngModel)]="checkobj.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon  slot="end" name="lock-closed"></ion-icon>
        <ion-input type="password" placeholder="رمز المرور" 
        [(ngModel)]="regObj.password"></ion-input>
       
      </ion-item>
      <ion-item>
        <ion-icon  slot="end" name="lock-closed-outline"></ion-icon>
        <ion-input type="password" placeholder=" اعد ادخال رمز المرور" 
        [(ngModel)]="pass2"></ion-input>
       
      </ion-item>
       
    </ion-list>
    <br />
    <ion-button class="btn1"(click)="createAccount()"fill="outline" expand="block"  shape="round">
      تسجيل 
      </ion-button>
   
   
  </div>
    </div>
    
    </div>
  </ion-content>