<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>الرئيسيه</ion-label>
      
    </ion-tab-button>

    <ion-tab-button tab="addroom">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>اضافه حجز</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="roomno">
      <ion-icon name="bed"></ion-icon>
      <ion-label>اضافه غرفه</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="record">
      <ion-icon name="create"></ion-icon>
      <ion-label> السجل</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>