@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Cairo:wght@300&family=Changa:wght@200&family=Noto+Nastaliq+Urdu:wght@400;700&family=Scheherazade&family=Tajawal:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

///////////////////////////////////////// راس الصفحه  راس الصفحه.......................................
.top{
    padding:0px 10px 0px 10px;
    display: flex;
    align-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.seperator{
hr {
    left: 0;
    width: 100%;
    background: #bdbdbd70;
}}

h2,h4 {
    margin: 7px;
    font-family: 'Almarai';
    color: #a7a7a7;
}

hr {
    left: 0;
    width: 100%;
    background: #bdbdbd;

}
/////////////////////////////////////////  عنوان الصفحه  ........................................
.title{
    font-family: 'Cairo';
    font-family: 'Lalezar';
    font-family: 'El+Messiri';
    font-family: 'Almarai';
   }


/////////////////////////////////////////  جسم الصفحه  ........................................

ion-input{
    font-family: 'Cairo'; 
}
.inner {
    position: absolute;
  }
  .hi{
    opacity: 10% !important;
    z-index: 100 !important;
      opacity:100%
  }


.body {
           

    ion-list {
        padding:5px;
        --background: none;
        background: none;
        margin-bottom: 0!important;
        
        ion-item {
            
            --highlight-height: 0;
            --background: none;
           
            border-radius: 4px;
            margin-top: 10px;
           


            ion-icon {
                color:#414141;
            }

            ion-input {
                --color:#4b4b4b;
            }
        }
    
    }
   
 
}


.refdiv{
    margin: auto;
    width: 95%;
    margin-bottom:70px;
}
.griddiv{
    padding: 2px;
    font-family:monospace;
    width: 100px;
    display: inline-table;
    height: 100px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid #196236;;
    box-shadow: 0 5px 20px 0 #3e3b3b4f;
}
.show {
    display    : block;
    color      : grey;
    font-family: 'Raleway', sans-serif;

}
.review{
    margin: 10px;
ion-row{
    
    font-family: 'cairo';
    background-color: #1962361a;
}}